/nbproject
.phpunit.result.cache
clover.xml
.php_cs.cache
tests/mysql/UserEntity.php
vendor/*
tests/webfiori/database/tests/common/UserClass.php
composer.lock
php-cs-fixer-v2.phar
.idea/*
tests/webfiori/database/tests/mysql/UserEntity.php
*.Identifier
/tests/.phpunit.cache
