<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/boot.php" stderr="true">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./webfiori/database/mysql</directory>
            <directory suffix=".php">./webfiori/database/AbstractQuery.php</directory>
            <directory suffix=".php">./webfiori/database/Column.php</directory>
            <directory suffix=".php">./webfiori/database/Condition.php</directory>
            <directory suffix=".php">./webfiori/database/Connection.php</directory>
            <directory suffix=".php">./webfiori/database/Database.php</directory>
            <directory suffix=".php">./webfiori/database/EntityMapper.php</directory>
            <directory suffix=".php">./webfiori/database/Expression.php</directory>
            <directory suffix=".php">./webfiori/database/ForeignKey.php</directory>
            <directory suffix=".php">./webfiori/database/JoinTable.php</directory>
            <directory suffix=".php">./webfiori/database/ResultSet.php</directory>
            <directory suffix=".php">./webfiori/database/SelectExpression.php</directory>
            <directory suffix=".php">./webfiori/database/Table.php</directory>
            <directory suffix=".php">./webfiori/database/WhereExpression.php</directory>
            <directory suffix=".php">./webfiori/database/RecordMapper.php</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Common Tests">
            <directory>./tests/webfiori/database/tests/common</directory>
        </testsuite>
        <testsuite name="MySQL Tests">
            <directory>./tests/webfiori/database/tests/mysql</directory>
        </testsuite>
        <testsuite name="MSSQL Tests">
            <directory>./tests/webfiori/database/tests/mssql</directory>
            <exclude>./tests/webfiori/database/tests/mssql/MSSQLQueryBuilderTest.php</exclude>
            <exclude>./tests/webfiori/database/tests/mssql/MSSQLTestSchema.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>