<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/boot.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./webfiori/database/mysql</directory>
            <directory suffix=".php">./webfiori/database/mssql</directory>
            <directory suffix=".php">./webfiori/database</directory>
            <directory suffix=".php">./webfiori/database/migration</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Common Tests">
            <directory>./tests/webfiori/database/tests/common</directory>
        </testsuite>
        <testsuite name="MySQL Tests">
            <directory>./tests/webfiori/database/tests/mysql</directory>
        </testsuite>
        <testsuite name="MSSQL Tests">
            <directory>./tests/webfiori/database/tests/mssql</directory>
        </testsuite>
        <testsuite name="Migration Tests">
            <directory>./tests/webfiori/database/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>