<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/boot.php" stderr="true">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./webfiori</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="MySQL Tests">
            <directory>./tests/mysql</directory>
        </testsuite>
        <testsuite name="MSSQL Tests">
            <directory>./tests/mssql</directory>
            <exclude>./tests/mssql/MSSQLQueryBuilderTest.php</exclude>
            <exclude>./tests/mssql/MSSQLTestSchema</exclude>
        </testsuite>
    </testsuites>
</phpunit>